@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --orange: #ff8800;
  --orangehov: #f36c01;
  --blue: #0075b2;
  --lightblue: #e6f5fc;
  --darktext: #00111a;
}
